






<div class="tab-content card p-2">
    <form id="physicalAddressForm"  class=" form p-2 card-body tab-pane active "[formGroup]="physicalAddressForm"><br>
        <div class="card-header">
            <p class="h3"> Physical Address </p>
        </div>
        <div class="mb-3 ">
            <label for="firstName" class="form-label">Address 1</label>
           
            <input type="text" class="form-control" id="firstName" formControlName="addressLine1" placeholder="Enter your street address" required>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Address 2</label>
           
            <input type="text" class="form-control" id="lastName" formControlName="addressLine2"  placeholder="Enter your apartment or house number if needed">
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">City</label>
           
            <input type="text" class="form-control" id="number" formControlName="number"
                placeholder="Enter your phone number">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">State</label>
           
            <input type="email" class="form-control" id="email" formControlName="email"
                placeholder="Please enter valid email ">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Zip Code</label>
           
            <input type="text" class="form-control" id="email" formControlName="email"
                placeholder="Please enter zip code">
        </div>

        <div class="d-flex flex-row justify-content-center"><button type="submit" class="btn btn-primary float-center" routerLink="/credentials">Next</button></div>
    </form>
</div>
<div class="tab-content">

    <form id="mailingAddressForm"  class=" form p-5 container tab-pane "[formGroup]="mailingAddressForm">
        <div>
            <p class="p-3 fs-5"> Mailing Address </p>
        </div>
        <div class="mb-3 ">
            <label for="firstName" class="form-label">Address 1</label>
           
            <input type="text" class="form-control" id="firstName" formControlName="addressLine1" placeholder="Enter your street address" required>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Address 2</label>
           
            <input type="text" class="form-control" id="lastName" formControlName="addressLine2"  placeholder="Enter your apartment or house number if needed">
        </div>
        <div class="mb-3">
            <label for="number" class="form-label">City</label>
           
            <input type="text" class="form-control" id="number" formControlName="number"
                placeholder="Enter your phone number">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">State</label>
           
            <input type="email" class="form-control" id="email" formControlName="email"
                placeholder="Please enter valid email ">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Zip Code</label>
           
            <input type="text" class="form-control" id="email" formControlName="email"
                placeholder="Please enter zip code">
        </div>

        
    </form>

<div class="d-flex flex-row justify-content-center"><button type="submit" class="btn btn-primary float-center" routerLink="/credentials">Next</button></div>



</div>
