<form class="bg-white rounded shadow-5-strong p-3 " [formGroup]="addresses">
    <div class="d-flex flex-row justify-content-center">
        <form class="form p-5" formGroupName=“physicalAddress”>
            <div>
                <p class="p-3 fs-5 h-4 "> Physical Address </p>
            </div>
            <div class="mb-3 ">
                <label for="firstName" class="form-label">Address 1</label>

                <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Address 2</label>

                <input type="text" class="form-control" id="lastName" formControlName="lastName" required>
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">City</label>

                <input type="text" class="form-control" id="number" formControlName="number"
                    >
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">State</label>

                <input type="email" class="form-control" id="email" formControlName="email"
                   >
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Zip Code</label>

                <input type="text" class="form-control" id="email" formControlName="email"
                   >
            </div>


        </form>

        <form class="form p-5" formGroupName=“mailingAddress”>
            <div>
                <p class="p-3 fs-5 h-4"> Mailing Address </p>
            </div>
            <div class="mb-3 ">
                <label for="firstName" class="form-label">Address 1</label>

                <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Address 2</label>

                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">City</label>

                <input type="text" class="form-control" id="number" formControlName="number"
                   >
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">State</label>

                <input type="email" class="form-control" id="email" formControlName="email"
                    >
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Zip Code</label>

                <input type="text" class="form-control" id="email" formControlName="email"
                    >
            </div>


        </form>
    </div>
    <div class="modal-footer d-flex justify-content-center">

        <button type="submit" class="btn btn-primary btn-lg pad1y pad3x" routerLink="/login">Next</button>
    </div>


</form>
