



            <form class="p-4" [formGroup]="contactForm">
                <div class="">
                    <p class="h3"> Contact Information </p>
                </div>
                <div class="mb-3 ">
                    <label for="email" class="form-label">Email</label>
                    <span class="asterisks"> * </span>
                    <input type="email" class="form-control" id="email" placeholder="Email Address"
                        formControlName="email" required>
                </div>
                <div class="mb-3 ">
                    <label for="middleName" class="form-label">Phone Number</label>

                    <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number"
                        formControlName="phone">
                </div>
                
      <button type="button" class="btn btn-primary" routerLink="/address">Next</button>
      </form>

