<div class="card card-sm shadow-0 mt-5 bg-white rounded shadow-5-strong p-3 justify-content-center align-items-center">


    <div class="text-center card-header">
        <h4>User Registration</h4>
    </div>
    <br>
    <div class="d-flex justify-content-around">
        <button type="button" id="register" class="btn btn-primary" routerLink="/register">Register</button>


        &nbsp;        &nbsp;        &nbsp;        &nbsp;


        <button type="button" id="login" class="btn btn-primary" routerLink="/login">Log In</button>


    </div>




</div>