<form class="form-horizontal mt-5 bg-white rounded shadow-5-strong p-3" [formGroup]="credentials">



    <div class="form-group">
       
     
            <input type="text" id="username" class="form-control" formControlName="username" />
            <label class="form-label" for="username">Username</label>
            <div *ngIf="credentials.controls['email'].invalid ||credentials.controls['email'].untouched"
                class="alert alert-danger">
                <div *ngIf="credentials.controls['email'].errors">
                    Email is required.
                </div>
            </div>
        </div>
   

    <div class="form-group">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="password" id="password" class="form-control" formControlName="password" />
            <label class="form-label" for="password">Password</label>
        </div>
        <div *ngIf="credentials.controls['email'].invalid ||credentials.controls['email'].untouched"
            class="alert alert-danger">
            <div *ngIf="credentials.controls['email'].errors">
                Password is required
            </div>
        </div>
    </div>

   
   
        <div class="position:absolute;w-40;left-30;right-30">
            <input type="password" id="password-confirm" class="form-control" (change)="confirmation($event)" />
            <label class="form-label" for="password-confirm">Confirm password</label>
            <div *ngIf="credentials.controls['password'].invalid ||credentials.controls['password'].untouched"
                class="alert alert-danger">
                <div *ngIf="credentials.controls['email'].errors">
                    Confirmation of password required
                </div>
            </div>
            <div *ngIf="credentials.controls['password'].errors">
                Confirmation of password required
            </div>

            <div *ngIf="confirmationPassword !== credentials.getRawValue().password">
                Passwords have to match
            </div>
        </div>



    <div class="justify-self-center">
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </div>

</form>