<div class="mask d-flex align-items-center h-100">
  <div class="container">
    
    <div class="row justify-content-center">
      
      <div class="col-xl-5 col-md-8">
        <form class="bg-white rounded shadow-5-strong p-5">
<div class="text-center card-header">
                        <h4>User Registration
                          <br>
                        </h4>
                      </div>
                    <br>
          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control" />
            <label class="form-label border-1" for="email">Email address</label>
          </div>


          <div class="form-outline mb-4">
            <input type="password" id="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
          </div>



          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>