@import '~mdb-ui-kit/css/mdb.min.css';



.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mask {
    position:absolute;
    background-color: rgb(84, 182, 217,0.6);
    background-size:cover;
}
